@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$monts: 'Montserrat', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$opns: 'Open Sans', sans-serif;
$dark: #60606e;
$dark_rgba: rgba(96, 96, 110, 0.5);
$green: #7beec7;
$white: #fff;
$choose_a: #999;
$input: #cdcdcd;
$ul-9a: #9a9a9a;
$ccc: #ccc;
$red: #ea6a6a;
$ece: #ececec;
$c98: #989898;
$e6e: #e6e6e6;
$bg_tags: #e5e5e5;
$categories_border: #bfbfbf;
$cover: #d9d9d9;
$bg-input: #fefcf9;
$break1199: 1199px;
$break991: 991px;
$break767: 767px;
$break686: 686px;
$break621: 621px;
$break584: 584px;
$break480: 480px;
$bg-home: "../images/homepage/bg.jpg";
$bg-blog: "../images/blog/bg.jpg";
$bg-about: "../images/about/bg.jpg";
$bg-contact: "../images/contact/bg.jpg";
$bg-services: "../images/services/bg.jpg";

@mixin cs($color,$size,$weight,$l_height){
	color: $color;
	font-size: $size+px;
	font-weight: $weight;
	line-height: $l_height;
}

@import 'btn';

.navbar-default{
	background: none;
	border: none;  
}

.navbar-collapse{
	border: none;
	.homepage &{
		padding-left: 0px; 
		padding-right: 0px;
	}
	.blog &{
		padding-left: 0px; 
		padding-right: 5.7%;
	} 
	.contact &{
		padding-left: 0px; 
		padding-right: 4.7%;
	}
	.service &{
		padding-left: 0px; 
		padding-right: 0px;
	}
}

.navbar-brand{
	.homepage &{
		padding: 0px;
		margin-top: 43px;
		height: 0px; 
		margin-bottom: 0px; 
	}
	.blog &, .about &, .contact &, .service &{
		padding: 0px;
		margin-top: 43px;
		height: 0px; 
		margin-bottom: 0px; 
	}
}

.nav>li>a{
	font-family: $monts;
	padding-top: 20px;
	margin-top: 23px;
	text-transform: uppercase;
}

.navbar-toggle{
	border: none;
	padding: 0px;
	margin-top: 43px;
	margin-bottom: 0px;
	-webkit-border-radius: 0px;
	        border-radius: 0px;
}

header{
	&.homepage{
		background: url($bg-home) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	&.blog{
		background: url($bg-blog) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		padding-bottom: 163px;
	}
	&.about{
		background: url($bg-about) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		padding-bottom: 163px;
	}
	&.contact{
		background: url($bg-contact) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		padding-bottom: 163px;
	}
	&.service{
		background: url($bg-services) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		padding-bottom: 163px;
	}
}

.navbar-default .navbar-toggle{
	.icon-bar{
		background: $dark;
		height: 1px;
		border-radius: 0px;
		margin-bottom: 6px;
	}
	&:hover{
		background: none;
	}
	&:focus{
		background: none;
	}
}

.navbar-nav{
	margin: 0px;
	border-top: none;
	text-align: center;
}

.navbar-default .navbar-toggle .icon-bar.f{
	width: 31px !important;
}
.navbar-default .navbar-toggle .icon-bar.s{
	width: 15px;
}
.navbar-default .navbar-toggle .icon-bar.t{
	width: 23px;
}

.before-h1{
	font-family: $monts;
	display: inline-block;
	text-transform: uppercase;
	@include cs($dark,18,700,normal);
	background: $green;
	padding: 7px 17px 2px 21px;
	margin-top: 125px;
	@media screen and (max-width:$break480){
		margin-top: 60px;
	}
}

.green-block{
	position: relative;
	z-index: 1;
}

.green-block:before{
	content: "";
	position: absolute;
	top: 48%;
	height: 60%;
	width: 98%;
	background: $green;
	z-index: -1;
	.services &{
		width: 90%;
	}
	.levels &{
		top: -45%;
		left: -10%;
		height: 127%;
		width: 92%;
	}
	.levels .lamp &{
	 left: -47%;
	 width: 144%;
	}
}

.img_bg{
	position: absolute;
	top: -22px;
	@media screen and (max-width:$break991){
		width: 100%;
		position: static;
	}
	@media screen and (max-width:$break480){
		margin-bottom: 30px;
	}
}

p{
	font-family: $opns;
	&.under-text{
		@include cs($dark,16,400,24px);
			header &{
				margin-bottom: 145px;
				@media screen and (max-width:$break480){
					margin-bottom: 60px;
				}
			}
			header h2+&{
			line-height: 30px;
			margin-bottom: 0px;
			@media screen and (max-width:$break767){
				text-align: center;
			}
		}
		.choose-block &, .portfolio &{
			font-size: 14px;
			padding-left: 18.2%;
			padding-right: 18%;
			line-height: 24px;
			margin-bottom: 97px;
			@media screen and (max-width:$break621){
				padding-left: 0px;
				padding-right: 0px;
			}
			@media screen and (max-width:$break480){
				margin-bottom: 50px;
			}
		}
		.portfolio &{
			padding-left: 12%;
			padding-right: 17%;
			margin-bottom: 85px;
			@media screen and (max-width:$break621){
				padding-left: 0px;
				padding-right: 0px;
			}
			@media screen and (max-width:$break480){
				margin-bottom: 60px;
			}
		}
		footer .right-side &{
			color: $choose_a;
			margin-bottom: 27px;
		}
	}
	footer .white-bg &.all-rights{
		color: $ul-9a;
		line-height: normal;
		margin-bottom: 21px;
		text-transform: uppercase;
	}
	.blog-block &{
		font-family: $monts;
		margin-bottom: 0px;
		vertical-align: top;
		&.comments, &.likes{
			@include cs($ccc,14,400,normal);
			display: inline-block;
			padding: 7px 0px 0px;
		}
		&.date{
			display: inline-block;
			@include cs($white,14,400,normal);
			padding: 7px 23px 5px 15px;
			margin-right: 11px;
			background: $green;
			text-transform: uppercase;
		}
		&.under-text{
			font-family: $opns;
			@include cs($choose_a,14,400,24px);
			margin-bottom: 18px;
			padding-left: 2px;
		}
		&.categories, &.archives{
			font-family: $opns;
			@include cs($dark,14,400,normal);
			padding: 17px 0px 15px 15px;
			border-bottom: 1px solid $categories_border; 
			&.last{
				padding-top: 15px;
			}
		}
	}
	section.what_we_do &{
		font-family: $opns;
		&.under-details{
			@include cs($dark,14,700,normal);
			margin-bottom: 18px;
			padding-left: 1px;
			text-transform: uppercase;
			letter-spacing: 0.6px;
		}
		&.under-text{
			@include cs($dark_rgba,14,400,30px);
			margin-bottom: 0px;
			@media screen and (max-width:$break480){
				margin-bottom: 30px;
			}
		}
	}
	section.benefits &{
		font-family: $opns;
		&.under-text{
			@include cs($dark_rgba,14,400,24px);
			padding: 0% 18%;
			margin-bottom: 95px;
			@media screen and (max-width:$break480){
				margin-bottom: 30px;
			}
		}
		&.under-details{
			@include cs($dark_rgba,14,400,30px);
			margin-top: 9px;
			margin-bottom: 45px;
			@media screen and (max-width:$break480){
				margin-bottom: 30px;
			}
		}
	}
	section.team &{
		&.under-text{
			@include cs($dark_rgba,14,400,24px);
			padding: 0% 18%;
			margin-bottom: 96px;
			@media screen and (max-width:$break480){
				margin-bottom: 30px;
				padding: 0px;
			}
		}
	}
	section.labels &{
		&.under-text{
			@include cs($dark_rgba,14,400,30px);
			margin-bottom: 15px;
			padding-right: 0.5%;
		}
	}
	section.contacts &{
		&.under-text{
			font-family: $opns;
			@include cs($choose_a,14,400,30px);
			margin-bottom: 15px;
		}
	}
	section.services &{
		&.under-text{
			@include cs($dark,14,400,24px);
			padding: 0% 18%;
			margin-bottom: 87px;
			@media screen and (max-width: $break767){
				padding: 0px;
			}
			@media screen and (max-width:$break480){
				margin-bottom: 30px;
			}
		}
		&.under-details, &.icon-checkbox{
			@include cs($dark,14,400,30px);
			padding: 0%;
			margin-bottom: 32px;
			@media screen and (max-width: $break767){
				text-align: center;
			}
		}
		&.icon-checkbox{
			margin-bottom: 0px;
			&.last{
				margin-bottom: 20px;
			}
		}
	}
	section.levels &{
		&.under-details{
			@include cs($dark,14,400,30px);
			padding: 0%;
			margin-bottom: 32px;
		}
	}
	section.price-plan &{
		@include cs($dark,14,400,24px);
		margin-bottom: 96px;
		@media screen and (max-width:$break480){
			margin-bottom: 30px;
		}
		padding: 0% 18%;
		@media screen and (max-width: $break767){
			padding: 0px;
		}
		&.icon-checkbox{
			padding: 0px;
			margin-bottom: 40px;
			line-height: 36px;
		}
		&.price-day{
			display: inline-block;
			padding: 5px 21px 6px 24px;
			background: $green;
			@include cs($white,14,700,normal);
			text-transform: uppercase;
			margin-bottom: 39px;
			letter-spacing: 0.5px;
		}
	}
}

h1{
	font-family: $monts;
	text-transform: uppercase;
	header.homepage &{
		@include cs($dark,48,700,normal);
		border: 10px solid $dark;
		padding: 9px 0px 12px;
		margin-top: 0px;
		margin-bottom: 24px;
	}
	header.blog &, header.about &, header.contact &, header.service &{
		@include cs($dark,36,700,normal);
		text-align: center;
		margin-top: 180px;
		margin-bottom: 17px;
		@media screen and (max-width:$break480){
			margin-top: 60px;
		}
	}
}

h2{
	font-family: $monts;
	@include cs($dark,30,700,normal);
	margin-top: 0px;
	text-transform: uppercase;
	header &{
		margin-bottom: 12px;
		@media screen and (max-width:$break767){
			text-align: center;
		}
	}
	.choose-block &{
		margin-bottom: 16px;
	}
	.portfolio &{
		padding-right: 3.5%;
		margin-bottom: 16px;
	}
	.portfolio .left-menu &{
		line-height: 48px;
		margin-bottom: 36px;
		@media screen and (max-width:$break767){
			display: inline-block;
		}
		@media screen and (max-width:$break584){
			display: block;
			text-align: center;
		}
	}
	footer .left-side &{
		color: $white;
		line-height: 48px;
		margin-bottom: 16px;
	}
	header.blog &, header.about &, header.contact &, header.service &{
		@include cs($dark,14,700,normal);
		text-align: center;
		margin-bottom: 0px;
	}
	section.what_we_do &{
		margin-bottom: 17px;
	}
	section.benefits &{
		margin-bottom: 17px;
	}

	section.team &{
		padding-left: 2px;
		margin-bottom: 16px;
	}
	section.services &{
		padding-left: 3px;
		margin-bottom: 16px;
	}
	section.price-plan &{
		margin-bottom: 16px;
		padding-left: 4px;
	}
	section.price-plan .offer-type &{
		padding-left: 0px;
		margin-bottom: 10px;
	}
}

h3{
	font-family: $monts;
	@include cs($dark,24,700,normal);
	margin-top: 0px;
	footer .right-side &{
		line-height: 36px;
		margin-bottom: 3px;
	}
}

h4{
	font-family: $monts;
	@include cs($dark,18,700,normal);
	text-transform: uppercase;
	.homepage &{
		margin-top: 6px;
		margin-bottom: 20px;
	}
	.choose-block &{
		margin-top: 7px;
		margin-bottom: 19px;
	}
	.blog-block &{
		margin-top: 16px;
		margin-bottom: 11px;
	}
	.benefits &{
		display: inline-block;
		margin-left: 14px;
	}
	.team .gray-block &{
		display: inline-block;
		font-family: $opns;
		font-style: italic;
		margin-bottom: 0px;
		margin-top: 10px;
		text-transform: none;
		letter-spacing: -.53px;
		@media screen and (max-width:$break991){
			width: 72%;
		}
	}
	.contacts &{
		margin-top: 0px;
		margin-bottom: 17px;
	}
	.levels &{
		margin-top: 14px;
		margin-bottom: 8px;
		padding-left: 3px;
	}
}

h5{
	.blog-block &{
		@include cs($dark,14,700,normal);
		text-transform: uppercase;
		margin-bottom: 23px;
		margin-top: 47px;
		&.categories{
			margin-top: 47px;
			margin-bottom: 4px;
		}
		&.tags{
			margin-bottom: 29px;
		}
		&.archives{
			margin-top: 43px;
			padding-left: 2px;
			margin-bottom: 4px;
		}
	}
	.mini-posts &{
		display: inline-block;
		margin-top: -3px;
		width: 60.9%;
		vertical-align: middle;
		line-height: 18px;
		margin-bottom: 0px;
	}
}

span{
	.blog-block h5 &{
		font-family: $opns;
		display: block;
		@include cs($ul-9a,12,400,normal);
		text-transform: none;
	}

	.blog-block p.categories &, .blog-block p.archives &{
		padding-right: 14px;
	}

	.blog-block &[class*="tags-"]{
		display: inline-block;
		font-family: $monts;
		@include cs($choose_a,12,700,normal);
		background: $bg_tags;
		text-transform: uppercase;
		vertical-align: top;
		margin-bottom: 5px;
	}
	.blog-block &[class="tags-css"]{
		padding: 8px 22px 7px;
	}.blog-block &[class="tags-js"]{
		padding: 7px 12px 7px 11px;
	}.blog-block &[class="tags-jq"]{
		padding: 7px 18px 7px 19px;
	}.blog-block &[class="tags-html"]{
		padding: 7px 20px 7px 16px;
	}.blog-block &[class="tags-bt"]{
		padding: 7px 12px 7px 16px;
	}
}

.choose-block{
	padding-top: 241px;
	padding-bottom: 141px;
	@media screen and (max-width:$break480){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.options,.design{
		@media screen and (max-width:$break767){
			text-align: center;
		}
		padding: 15px 0px 37px 2px;
		@media screen and (max-width:$break621){
			padding: 5px 0px 27px 2px;
		}
		i[class*="ion-"]{
			@include cs($dark,36,400,normal);
		}
	}
	.design{
		padding-left: 35px;
		@media screen and (max-width:$break767){
			padding-left: 0px;
		}
		&:first-child h4{
			margin-right: -15px;
			@media screen and (max-width:$break1199){
				margin-right: -58px ;
			}
			@media screen and (max-width:$break767){
				margin-right: 0px;
			}
		}
		&:last-child h4{
			padding-left: 4px;
			@media screen and (max-width:$break1199){
				margin-right: -50px ;
			}
			@media screen and (max-width:$break991){
				margin-right: -105px;
			}
			@media screen and (max-width:$break767){
				margin-right: 0px;
			}
		}
	}
}

.choose-img{
	@media screen and (max-width:$break1199){
		width: 100%;
	}
}

.portfolio{
	padding-bottom: 132px;
	@media screen and (max-width:$break480){
		padding-bottom: 60px;
	}
	ul{
		margin-bottom: 0;
		font-size: 0px;
		&.outer-menu{
			@media screen and (max-width:$break767){
				text-align: center;
			}
			@media screen and (max-width:$break584){
				float: none;
				text-align: center;
			}
			&>li a{
			@include cs($white,14,700,normal);
			background: $green;
			margin-bottom: 26px;
			padding: 1px 20px 1px 21px;
			&:hover{
				background: $dark;
				}
			}
		}
		&.inner-menu{
			@media screen and (max-width:$break767){
				display: none;
			}
			&>li a{
				@include cs($dark,14,700,normal);
				background: transparent;
				margin-bottom: 22px;
				padding: 0px 0px 0px 20px;
				&:hover{
					color: $green;
					background: transparent;
				}
				@media screen and (max-width:$break686){
					padding-left: 0px;
				}
			}
		}
		li{
			@media screen and (max-width:$break767){
				display: inline-block;
			}
			@media screen and (max-width:$break686){
				display: block;
			}
			a{
				font-family: $monts;
				display: inline-block;
				text-transform: uppercase;	
				&:hover{
					text-decoration: none;
				}
				&:active{
					
				}		
			}
		}
	}
	img{
		padding-top: 12px;
		padding-bottom: 18px;
		@media screen and (max-width:$break1199){
			width: 100%;
		}
		&[src="images/homepage/choose3.jpg"]{
			padding-top: 15px;
		}
	}
	.left-menu{
		@media screen and (max-width:$break767){
			text-align: center;
		}
	}
}

.blog-block{
	padding: 150px 0px 50px;
	@media screen and (max-width:$break480){
		padding-top: 60px;
	}
	img{
		padding-bottom: 29px;
		@media screen and (max-width:$break1199){
			width: 100%;
		}
	}
	& i[class*="ion-"]{
		display: inline-block;
		@include cs($ccc,18,400,normal);
		padding-top: 5px;
		padding-right: 5px;
	}
	& i[class="ion-android-favorite"]{
		color: $red;
	}
	& form{
		position: relative;
		& input[type="text"]{
			background: $ece;
			height: 40px;
			width: 100%;
			border: none;
			padding: 0px 40px 0px 15px;
			&::-webkit-input-placeholder{
				font-family: $monts;
				@include cs($dark,12,700,normal);
				text-transform: uppercase;
			}
			&:focus{
				outline: none;
			}
		}
		& i[class*="ion-"]{
			@include cs($dark,18,400,normal);
			position: absolute;
			right: 13px;
			top: 4px;
		}
	}
	ul{
		margin-bottom: 29px;
		font-size: 0px;
		padding-left: 5px;
		li{
			border-bottom: 2px solid $e6e;
			padding-left: 0px;
			padding-right: 0px;
			width: 33.3%;
			text-align: center;
			&:hover{
				border-bottom-color: $green;
				a{
					text-decoration: none;
					color: $dark;
				}
			}
			a{
				display: inline-block;
				font-family: $monts;
				@include cs($choose_a,12,700,normal);
				margin-bottom: 17px;
			}
		}
	}
	.mini-posts{
		margin-bottom: 8px;
		img{
			padding-bottom: 0px;
			margin-right: 12px;
			width: 31.5%;
		}
	}
}

.what_we_do{
	padding: 143px 0px 149px;
	@media screen and (max-width:$break480){
		padding: 60px 0px;
	}
	@media screen and (max-width:$break767){
		text-align: center;
	}
}

.benefits{
	padding-bottom: 91px;
	@media screen and (max-width:$break480){
		padding-bottom: 60px;
	}
	div[class*="col-"]{
		@media screen and (max-width:$break767){
			text-align: center !important;
		}
	}
	i[class*="ion-"]{
		display: inline-block;
		@include cs($white,30,400,normal);
		background: $green;
		width: 40px;
		height: 40px;
		text-align: center;
		&:before{
			vertical-align: middle;
		}
	}
}

.team{
	img{
		padding-bottom: 30px;
		@media screen and (max-width:$break1199){
			width: 100%;
		}
	}
	.gray-block{
		background: $dark_rgba;
		padding: 49px 31px 65px 29px;
	}
}

.labels{
	padding: 150px 0px;
	@media screen and (max-width:$break480){
		padding: 60px 0px;
	}
	.faces{
		display: inline-block;
		width: 83px;
		height: 82px;
		-webkit-border-radius: 50%;
			    	border-radius: 50%;
		overflow: hidden;
		border: 1px solid $input;
		margin-bottom: 15px;
	}

	span{
		display: inline-block;
		border-width: 5px;
		border-style: solid;
		-webkit-border-image: linear-gradient(to right, $white 0%, $white 3%, $green 3%, $green 33%, $white 33%, $white 40%, $dark 40%, $dark 55%, $white 55%, $white 60%, $dark 60%, $dark 76%, $white 76%, $white 81%, $dark 81%, $dark 97%, $white 97%, $white 100%) 0 0 1;
		   -moz-border-image: linear-gradient(to right, $white 0%, $white 3%, $green 3%, $green 33%, $white 33%, $white 40%, $dark 40%, $dark 55%, $white 55%, $white 60%, $dark 60%, $dark 76%, $white 76%, $white 81%, $dark 81%, $dark 97%, $white 97%, $white 100%) 0 0 1;
		     -o-border-image: linear-gradient(to right, $white 0%, $white 3%, $green 3%, $green 33%, $white 33%, $white 40%, $dark 40%, $dark 55%, $white 55%, $white 60%, $dark 60%, $dark 76%, $white 76%, $white 81%, $dark 81%, $dark 97%, $white 97%, $white 100%) 0 0 1;
		        border-image: linear-gradient(to right, $white 0%, $white 3%, $green 3%, $green 33%, $white 33%, $white 40%, $dark 40%, $dark 55%, $white 55%, $white 60%, $dark 60%, $dark 76%, $white 76%, $white 81%, $dark 81%, $dark 97%, $white 97%, $white 100%) 0 0 1;
		@media screen and (max-width:$break991){
			margin-bottom: 30px;
		}
	}
	.cover{
		display: inline-block;
		border: 1px solid $cover;
		width: 100%;
		height: 100px;
		margin-bottom: 30px;
		img{
			&.label1{
				padding-top: 9px;
			}
			&.label2{
				padding-top: 10px;
			}
			&.label3{
				padding-top: 11px;
			}
			&.label4{
				padding-top: 26px;
			}
			&.label5{
				padding-top: 16px;
			}
			&.label6{
				padding-top: 9px;
			}
		}
	}
}

.contacts{
	font-family: $monts;
	padding: 150px 0px 148px;
	@media screen and (max-width:$break480){
		padding: 60px 0px;
	}
	@media screen and (max-width: $break767){
		text-align: center;
	}
	form{
		margin-bottom: 0px;
		input, textarea{
			border: 1px solid $bg_tags;
			background: $bg-input;
			width: 100%;
			height: 49px;
			padding: 10px 19px 9px;
			margin-bottom: 31px;
			@include cs($ccc,12,700,48px);
			&::-webkit-input-placeholder{
				text-transform: uppercase;
			}
			&:focus{
				outline-color: $bg_tags;
			}
		}
		textarea{
			padding: 17px 19px;
			margin-bottom: 25px;
			height: 200px;
			-webkit-border-radius: 0px;
			        border-radius: 0px;
			line-height: normal;
		}
	}
	address{
		font-family: $opns;
		@include cs($choose_a,14,400,30px);
		margin-bottom: 17px;
	}
	i[class*="ion-"]{
		font-size: 18px;
	}
	img{
		width: 100%;
		@media screen and (max-width: $break767){
			padding-left: 15px;
			padding-top: 30px;
		}
	}
}

.left-padding{
	padding-left: 0px;
	@media screen and (max-width: $break767){
		padding-right: 0px;
	}
}
.right-padding{
	padding-right: 0px;
	@media screen and (max-width: $break767){
		padding-left: 0px;
	}
}

.services{
	padding: 143px 0px 148px;
	@media screen and (max-width:$break480){
		padding: 60px 0px;
	}
	i[class*="ion-"]{
		@include cs($green,14,400,normal);
		margin-right: 6px;
	}
	img{
		padding-top: 9px;
		width: 100%;
	}
}

.levels{
	padding-bottom: 105px;
	@media screen and (max-width:$break480){
		padding-bottom: 60px;
	}
	i[class*="ion-"]{
		@include cs($dark,60,400,normal);
	}
}

.price-plan{
	padding-bottom: 150px;
	@media screen and (max-width:$break480){
		padding-bottom: 60px;
	}
	.offer-type{
		padding: 23px 32px 40px 30px;
		position: relative;
		border-top: 5px solid $green;
		@media screen and (max-width: $break767){
				text-align: center;
				margin-bottom: 30px;
			}
		&:after{
			content: "";
			display: block; 
			position: absolute;
			top: 0;
			right: 0;
			border-bottom: 11px solid transparent;
			border-right: 11px solid $green;
		}
		&:hover{
			box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
		}
	}
	i[class*="ion-"]{
		@include cs($green,14,400,normal);
		margin-right: 10px;
	}
}

footer{
	&.green-bg{
		background: $green;
		padding: 39px 0px 50px;
		& .left-side{
			padding-top: 0px;
			padding-bottom: 0px;
			@media screen and (max-width:$break991){
				text-align: center;
			}
		}
		& .right-side{
			background: $white;
			padding: 13px 21px 18px 25px;
			margin-top: 11px;
			@media screen and (max-width:$break584){
				text-align: center;
			}
			form{
				font-size: 0px;
				@media screen and (max-width:$break1199){
					text-align: center;
				}
				@media screen and (max-width:$break991){
					text-align: left;
				}
				@media screen and (max-width:$break767){
					text-align: center;
				}	
				input[type="email"]{
					font-family: $monts;
					@include cs($input,16,700,normal);
					height: 50px;
					border-radius: 0px;
					border: 1px solid $input;
					border-right: none;
					margin-left: -5px;
					width: 73.5%;
					padding: 2px 19px;
					margin-bottom: 0px;
					@media screen and (max-width:$break1199){
						border-right: 1px solid $input;
						margin-bottom: 10px;
						width: 100%;
					}
					@media screen and (max-width:$break991){
						border-right: none;
						width: 73.5%;
					}
					@media screen and (max-width:$break767){
						width: 73.5%;
						border-right: none;
					}
					@media screen and (max-width:$break584){
						border-right: 1px solid $input;
						width: 100%;
					}	
					/* @media screen and (max-width:$break991){
						margin-left: 0px;
					} */
					&::-webkit-input-placeholder{
						font-family: $monts;
						@include cs($input,12,700,normal);
						text-transform: uppercase;
					}
					&:focus{
						outline-color: $choose_a;
					}
				}
			}
		}
	}
	&.white-bg{
		padding: 45px 0px;
		@media screen and (max-width:$break991){
			text-align: center;
		}
		& ul{
			display: inline-block;
			margin-bottom: 0px;
			@media screen and (max-width:$break991){
				margin-bottom: 20px;
			}
			li{
				padding: 0px;
				@media screen and (max-width:$break621){
					display: block;
				}
				&:after{
					content: "";
					display: inline-block;
					vertical-align: middle;
					position: relative;
					right: 10px;
					height: 2px;
					width: 3px;
					background: $ul-9a;
					@media screen and (max-width:$break621){
						display: block;
						left: calc(50% - 1.5px);
						top: -5px;
					}
				}
				&:last-child{
					&:after{
						content: none;
					}
					& a{
						margin-right: 0px;
					}
				}
				a{
					display: inline-block;
					line-height: normal;
					margin-left: 6px;
					margin-right: 28px;
					@media screen and (max-width:$break621){
						margin-right: 0px;	
						margin-left: 0px;	
						margin-bottom: 10px;	
					}
					color: $ul-9a;
					&:hover{
						color: $dark;
						text-decoration: none;
					}
				}
			}
		}
		& .icons{
			@media screen and (max-width:$break991){
				float: none !important;
				text-align: center !important;
			}
			a{
				margin-left: 14px;
				i{
					@include cs($choose_a,18,400,normal);
					&:hover {
						color: $dark;
					}
				}
			}
		}
	}
}

/* @media screen and (max-width:1199px){
	footer .right-side form{
		text-align: center;
	}
} */

